<!-- メイン画面を表示する。 -->
<section class="main_contents">
  <div class="container">
    <div class="row" style="padding-bottom:20px;">
      <!-- 検索フォーム表示 -->
      <%= render "layouts/search" %>
      <div class="col-md-9 py-2">
        <!-- 人気post表示 -->
        <ul class="nav nav-tabs main-nav">
          <li class="nav-item">
            <%= link_to "sort/resent/1", method: :get, remote: true,id:"tab_resent",class:"nav-link active",:data => {:toggle=>"tab"} do %>最近順<%end%>
          </li>
          <li class="nav-item">
            <%= link_to "sort/like/1", method: :get, remote: true,id:"tab_like",class:"nav-link",:data => {:toggle=>"tab"} do %>いいね順<%end%>
          </li>
          <li class="nav-item">
            <%= link_to "sort/see/1", method: :get, remote: true,id:"tab_see",class:"nav-link",:data => {:toggle=>"tab"} do %>照会順<%end%>
          </li>
          <li class="nav-item">
            <%= link_to "sort/comment/1", method: :get, remote: true,id:"tab_comment",class:"nav-link",:data => {:toggle=>"tab"} do %>コメント順<%end%>
          </li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content" id="like_list">
          <%= render "layouts/postList", boards: @boards_like, types:"like"%>
        </div>
        <hr>  
        <h2 style="text-align:center;">Resent Post</h2>
        <!-- 最近のpost表示 -->
        <%= render "layouts/postList", boards: @boards_resent, types:"resent" %>
        <%= link_to("/boards") do %>
            <p style="margin:0;text-align:right;">もっと見る<i class="fa fa-angle-double-right"></i></p>
        <% end %>
        <hr>
      </div> 
      <!-- 画面の右側リスト表示 --> 
      <%= render "layouts/menu" %>
    </div>
  </div>
</section>
