<!--<div class="container container-large" style="padding:0;">
  <%=link_to(image_tag("2.jpg", id:"main_title",),"/") %>
</div>-->
<% breadcrumb :root %>
<section class="main_contents">
  <hr class="hr-text" data-content="Recent Posts">
  <div class="container container-large">  
      <div class="row" style="padding-top:20px;padding-bottom:20px;">
        <% index = 1 %>
        <% @boards.each do |board| %>
          <div class="col-lg-4 py-2" style="margin-bottom:10px;">
            <div class="card h-100 maincard">
              <% if !get_content_img(board.contents).blank? %>
                <div class="list_image py-3">
                  <%= image_tag(get_content_img(board.contents), :alt => "アイコン", class:"card-img-top") %>
                </div>
              <% end %>
              <div class="card-header main-card-header">
                <h3 class="card-title wf-sawarabigothic">
                  <%= link_to(board_path(board.id)) do %>
                    <%= board.title %>
                  <% end %>
                </h3>
              </div>
                <div class="card-body">
                  <div class="wf-sawarabigothic">
                    <p class="card-text"><%= Sanitize.clean(board.contents) %></p>
                  </div>
                  <% index += 1 %>
                </div>
                <hr>
                <div class="card-footer main-card-footer">
                  <% board.tag_list.map do |tag| %> 
                    <%= link_to(tag_path(tag)) do %>
                      <span class="wf-sawarabigothic maintag">#<%=tag%></span>
                    <% end %>&nbsp;  
                  <% end %> 
                  <br>
                  <div class="italic-font">
                    <%= "Post on "+board.created_at.strftime('%Y-%m-%d') %>
                  </div>        
                </div>
              </div> 
            </div>             
          <% end %>
        </div>
      </div>
    </div>
  </section>