<% if comment.parent == nil %>
  <div class="media border p-3 comment" id="comment_<%= comment.id %>">
<% else %>
  <div class="media p-3 comment" id="comment_<%= comment.id %>">
<% end %>
    <% if comment.user.image != nil %>
      <%=image_tag(comment.user.image, class:"mr-2 mt-2 rounded-circle comment-image")%>
    <% else %>
      <%=image_tag("defaultPerson.jpg", class:"mr-2 mt-2 rounded-circle comment-image")%>
    <% end %>
    <div class="media-body article_content" id="comment_list_<%= comment.id %>">
      <small><%= comment.user.username %>&nbsp;<i><%= comment.created_at.strftime('%Y/%m/%d %H:%M') %></i></small>
      <%= content_tag(:div, comment.content.html_safe, :class => "comment-content") %>
      <div class="comment-info">
        <% if user_signed_in? && current_user.username == comment.user.username%>
          <%= link_to "Edit", edit_polymorphic_path([comment.commentable, comment]), class: 'edit-comment-link', remote: true, data: { turbolinks: true } %> &bull;
          <%= link_to "Destroy", [comment.commentable, comment], method: :delete, class: 'delete-comment-link', data:{confirm:"Are your sure?"}, remote: true %>
          <% if comment.parent == nil %>
            &bull;<%= link_to "Reply", polymorphic_path([:reply, comment.commentable, comment]), class: 'reply-comment-link', remote: true, data: { turbolinks: true }  %>
          <% end %>
        <% end %>
      </div>
      <% if comment.replies.any? %>
        <%= render comment.replies %>
      <% end %>
    </div>
  </div>