<div class="card left_side">
  <div class-"card-body" id="comments-widget-of-commentable-<%= commentable.id %>">
    <h2>
      Comments <small id="comments-count-of-commentable-<%= commentable.id %>"><%= commentable.comments.size %></small>
    </h2>
    <br>
    <hr>
    <div class="comments-list">
      <%= render commentable.comments.where(parent_id: nil) %>
      <!-- comment-form -->
    </div>
    <hr>
    <h2>
      Your Comments
    </h2>
    <%= render "comments/form", comment: commentable.comments.build  %>
    <br><br>
    <%= link_to '/users/auth/twitter', class: "btn btn-block btn-social btn-twitter" do %>
      <span class="fa fa-twitter"></span> Twitterアカウントでログイン
    <% end %>
    <%= link_to '/users/auth/facebook', class: "btn btn-block btn-social btn-facebook" do %>
      <span class="fa fa-facebook"></span> Facebookアカウントでログイン
    <% end %>
    <%= link_to '/users/auth/facebook', class: "btn btn-block btn-social btn-google" do %>
      <span class="fa fa-google"></span> Googleアカウントでログイン
    <% end %>
  <br>
  </div>
</div> 
