<% boards.each do |board| %>
  <div class="blog-item mas-box">
      <!-- 内容にイメージが含まれている場合 -->
      <% if !get_content_img(board.contents).blank? %>
          <!-- イメージを表示する。 -->
          <%= link_to(board_path(board.id)) do %>
            <img class="img-responsive img-blog" src="<%=get_content_img(board.contents) %>" width="100%" alt="" />
          <% end %>
      <% end %>  
    <div class="blog-content">
      <% board.tag_list.map do |tag| %>  
        <%= link_to(tag_path(tag),class:"blog_cat") do %>
          <%=tag%>&nbsp;
        <% end %>
      <% end %>
      <h2><%= link_to(board_path(board.id)) do %><%= truncate(board.title, length: 20) %><% end %></h2>
      <h3><%= truncate(Sanitize.clean(board.contents), length: 200) %></h3>
      <div class="post-meta">
        <p>By <%= board.author %></p><br>
        <p>
          <i class="fa fa-clock-o"></i>
          <%= board.created_at.strftime('%d %b %Y') %>
        </p>
        <p>
          <i class="fa fa-comment"></i>
          <span class="disqus-comment-count" data-turbolinks=false data-disqus-url="<%=board_url(board)%>"></span>
        </p>
      </div>
    </div>
  </div>
<% end %>
