<%= form_with(model: board, local: true) do |f| %>
  <% if board.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(board.errors.count, "error") %> prohibited this board from being saved:</h2>

      <ul>
      <% board.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <div class="field">
      <%= f.label :title %>
      <%= f.text_field :title, id: :board_title, class:"form-control" %>
    </div>
    <div class="field">
      <%= f.label :author %><%= current_user.username %>
      <%= f.hidden_field :author, value: current_user.username, id: :board_author %>
    </div>
    <div class="field">
      <%= link_to("https://www.google.co.jp/maps/", 
      :onclick=>"window.open(this.href,'hoge', 'height=740, width=1024');return false;", class:"google_map") do %>
        <button type="button" class="btn btn-sm"><span class="glyphicon glyphicon-globe"></span>&nbsp;GoogleMap</button>
      <% end %>
      <br>
      <%= f.label :内容 %>
      <%= tinymce %>
      <%= f.text_area :contents, id: :board_contents, class: "form-control tinymce", rows: "25" %>
    </div>
    <div class="actions">
      <%= f.submit @buttonName, class: "follow_submit btn btn-info"%> 
    </div>
  </div>
<% end %>
