 <%= form_with(model: board, local: true) do |f| %>
  <!--　入力エラー表示　-->
      <% if board.errors.any? %>
          <% board.errors.messages.each_key do |key|%>
            <% if key == :title %>
              <div class="alert alert-danger">
                <strong>エラー！！</strong> タイトルが入力されていません。
              </div>      
            <% end %>
            <% if key == :contents %>
              <div class="alert alert-danger">
                <strong>エラー！！</strong> 内容が入力されていません。
              </div>      
            <% end %>
            <% if key == :tag_list %>
              <div class="alert alert-danger">
                <strong>エラー！！</strong> tagが入力されていません。
              </div>      
            <% end %>
          <% end %>
      <% end %>
      <!--タイトル入力-->
      <div class="content_title"><p>タイトル</p></div>
      <div class="field">
        <%= f.text_field :title, id: :board_title, class:"form-control" %>
      </div>
      <hr>
    <br>
      <!--ユーザー名はセッションよりhiddenで設定しておく。-->
      <%= f.hidden_field :author, value: current_user.username, id: :board_author %>
      <%= f.hidden_field :image_path, id: :board_image_path %>
      <!--内容入力-->
      <div class="content_title"><p>内容</p></div>
      <div class="field">
        <%= f.text_area :contents, :class => "tinymce"%>
        <%= tinymce %>
      </div>
      <hr>
    <br>
    <!--タグリスト入力-->
      <div class="content_title"><p>タグリスト</p></div>
      <div class="field">
        <%= text_field_tag 'board[tag_list]', board.tag_list.join(','), "data-role" => "tagsinput", id:"tag-input-form", data: {"turbolinks" => false} %>
      </div>
      <hr>
    <br>
      <!--作成・修正ボタン-->
      <div class="actions" style="text-align:center">
        <%= f.submit @buttonName, class: "btn btn-dark", :onclick => "setImagePath();"%>
        <%= link_to(boards_path) do %>
          <button type="button" class="btn btn-dark">キャンセル</button>
        <% end %> 
      </div>
      <br>
      <br>
  <% end %>
  <script>
    $('#tag-input-form').tagsinput();
  </script>
