<section class="main_contents">
<div class="article_content">
  <% breadcrumb :boards %>
  <% if user_signed_in? %>
    <%= link_to(new_board_path, 'data-no-turbolink' => true) do %>
      <button type="button" class="btn btn-info" style="float:right;margin-right:20px;">スレッド作成</button>
    <% end %>
  <% end %>
</div>
<div class="container container-large">
  <div class="row">
    <div class="col-sm-9">
      <div class='mainContentsTitle'>
        <h3 class="tde" style="margin-top:1rem;margin-bottom:1rem;">         
          <span><%=@title%></span>         
        </h3>
      </div>
      <% if @boards.count == 0 %>
        <h4>作成されているスレッドがありません。</h4>
      <% else %>
        <div id="article">
          <%= render 'article' %>
        </div>
        <%= link_to_next_page @boards, 'もっと見る', remote: true, id: 'more_link', class:"btn btn-dark btn-block"%>
      <% end %>
    </div>
    <%= render "layouts/menu" %>
  </div>
</div>
</section>

