<div class="container container-large">
  <h2 class="title-font" style="display:inline;">&nbsp;<%=@title%></h2>
  <% if user_signed_in? %>
    <%= link_to(new_board_path, 'data-no-turbolink' => true) do %>
       <button type="button" class="btn btn-info" style="float:right;margin-right:20px;">スレッド作成</button>
    <% end %>
  <% end %>
  <hr>
  <div class="row">
    <div class="col-sm-9">
      <% if @boards.count == 0 %>
        <h4>作成されているスレッドがありません。</h4>
      <% else %>
        <div id="article">
          <%= render 'article' %>
        </div>
        <%= link_to_next_page @boards, 'もっと見る', remote: true, id: 'more_link', class:"btn btn-dark btn-block"%>
      <% end %>
    </div>
    <%= render "layouts/menu" %>
  </div>
</div>

