<% breadcrumb :board, @board %>
<div class="row">
	<!-- Post Content Column -->
	<div class="col-md-8">
		<div class="blog-item">
			<div class="blog-content">
				<!--<a href="#" class="blog_cat">UI/UX DESIGN</a>-->
				<h2><%= @board.title %></h2>
				<div class="post-meta">
					<p>By <%= @board.author %></p>
					<p><i class="fa fa-clock-o"></i> <%= @board.created_at.strftime('%d %b %Y') %></p>
					<p><i class="fa fa-eye"></i> <%= get_board_view_count(@board)%></p>
					<p><i class="fa fa-comment"></i> <%= get_board_comment_count(@board)%></p>
					<p><i class="fa fa-thumbs-up"></i> <%= get_board_like_count(@board)%></p>
				</div>
				<hr>
				<%= content_tag(:div, @board.contents.html_safe, :class => "board-contents") %>
				<hr>
				<!-- シェアボタン -->
				<div class="inner-meta">
                    <ul class="tags">
						<% @board.tag_list.map do |tag| %>
							<li>
								<%= link_to(tag_path(tag)) do %>
									<i class="fa fa-tags"></i>
									<span class="wf-sawarabigothic maintag">#<%=tag%></span>
								<% end %>
							</li>
						<% end %>
                    </ul>
					<div style="text-align:center;">
						<div class="social-btns">
							<!-- いいね -->
							<span id="likes_buttons_<%= @board.id %>">
								<%= render partial: 'layouts/like', locals: { board: @board, likes: @likes} %>
							</span>
						</div>
						<br>
						<%= social_share_button_tag(@board.contents, :url => board_url(@board), desc: @board.title, style:"text-align:center;")%>
					</div>
				</div>
				<!-- いいね -->
				<hr>
				<!-- ログインしているユーザーと作成者が一致する場合は修正ボタンと削除ボタンを表示する。 -->
				<% if user_signed_in? && current_user.username == @board.author%>
				<div style="text-align:right;">
					<%= link_to(edit_board_path(@board), 'data-no-turbolink' => true) do %>
						<i class="fa fa-edit"></i>修正
					<% end %>
					<%= link_to(@board, method: :delete, data: { confirm: '内容を削除します。よろしいですか？' }) do %>
						<i class="fa fa-trash-o"></i>削除
					<% end %>
				</div>
				<% end %>
				<!-- コメントページを表示 -->
				<%= render "comments/widget", commentable: @board %>
			</div>
			<!-- 前へ、次へボタン表示 -->
		</div>
		<% if @before_post != nil %>
			<%= link_to(board_path(@before_post.id)) do %>
			<button type="button" class="btn btn-primary btn-sm" style="float:left;margin-bottom:20px;margin-top:0;">←前へ</button>
			<% end %>
		<% end %>
		<% if @next_post != nil %>
			<%= link_to(board_path(@next_post.id)) do %>
			<button type="button" class="btn btn-primary btn-sm" style="float:right;margin-bottom:20px;margin-top:0;">次へ→</button>
			<% end %>
		<% end %>
		<br>
		<br>
		<hr>
		<!-- 関連データがある場合 -->
		<% if @related_articles.size > 0 %>
			<!-- 連携Postを表示する。 -->
			<h2>Related Posts</h2>
			<%= render "article", boards: @related_articles %>
		<% end %>
	</div>
	<!-- 画面右側のリスト表示 -->
	<%= render "layouts/menu" %>
</div>
