<div class="row">
	<!-- Post Content Column -->
	<div class="col-md-12">
		<div class="blog-item" style="background-color:transparent;padding:0;">
			<div class="blog-content" style="padding:0;">
				<%= content_tag(:div, @board.contents.html_safe, :class => "board-contents") %>
				<!-- シェアボタン -->
				<hr>
				<div class="inner-meta">
					<div style="text-align:center;">
						<h2>カテゴリー</h2>
						<% @board.tag_list.map do |tag| %>  
							<%= link_to(tag_path(tag),class:"content-category") do %>
								#<%=tag%>&nbsp;
							<% end %>
						<% end %>
						<h2>シェア</h2>
						<% if !get_content_img(@board.contents).blank? %>
							<%= social_share_button_tag(@board.title, :url => board_url(@board),:image => get_content_img(@board.contents), desc: @board.title, style:"text-align:center;")%>
						<% else %>
							<%= social_share_button_tag(@board.title, :url => board_url(@board),:image => asset_path(@header_image), desc: @board.title, style:"text-align:center;")%>
						<% end %>
					</div>
				</div>
				<!-- いいね -->
				<hr>
				<!-- ログインしているユーザーと作成者が一致する場合は修正ボタンと削除ボタンを表示する。 -->
				<% if user_signed_in? && current_user.username == @board.author%>
				<div style="text-align:right;">
					<%= link_to(edit_board_path(@board), 'data-no-turbolink' => true) do %>
						<i class="fa fa-edit"></i>修正
					<% end %>
					<%= link_to(@board, method: :delete, data: { confirm: '内容を削除します。よろしいですか？' }) do %>
						<i class="fa fa-trash-o"></i>削除
					<% end %>
				</div>
				<% end %>
				<!-- コメントページを表示 -->
				<%= render partial: 'layouts/disqus', locals: { page_title: @board.title } %> 
			</div>
			<!-- 前へ、次へボタン表示 -->
		</div>
		<hr>
		<% if @before_post != nil %>
			<%= link_to(board_path(@before_post.id)) do %>
			<button type="button" class="btn btn-primary btn-sm" style="float:left;margin-bottom:20px;margin-top:0;">←前へ</button>
			<% end %>
		<% end %>
		<% if @next_post != nil %>
			<%= link_to(board_path(@next_post.id)) do %>
			<button type="button" class="btn btn-primary btn-sm" style="float:right;margin-bottom:20px;margin-top:0;">次へ→</button>
			<% end %>
		<% end %>
	</div>
</div>
<% content_for :head do %>
 <meta property="og:image" content="<%= get_content_img(@board.contents) %>" />
<% end %>
