<!-- フッダ部 -->
<footer class="footer">
  <div class="container bottom_border">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-4">
        <h5 class="headin5_amrc col_white_amrc footer_title">Pig&BoarBlog</h5>
      </div>
      <div class="col-xs-12 col-md-4">
        <h5 class="headin5_amrc col_white_amrc">Contact Me</h5>
        <p>気になるところがありましたら、下記のメールアドレスに連絡してください。</p>
        <p><i class="fa fa fa-envelope"></i><%= mail_to("1222kdj@gmail.com","1222kdj@gmail.com", style:"color:#FFFFFF") %></p>
      </div>
      <div class=" col-xs-12 col-md-4">
        <h5 class="headin5_amrc col_white_amrc">Resent Post</h5>
        <% @boards_resent.each do |board| %>
          <%= link_to(board_path(board.id)) do %>
            <p style="margin:0;"><i class="fa fa-angle-double-right"></i><%= truncate(board.title, length: 20) %></p>
          <% end %>
        <% end %>
      </div>
    </div>
    <ul class="foote_bottom_ul_amrc">
      <li>
        <%= link_to("/") do %>
          Home
        <% end %>
      </li>         
      <li>
        <%= link_to("/about") do %>
          About
        <% end %>
      </li>         
      <li>
        <%= link_to("/boards") do %>
          Posts
        <% end %>
      </li>
      <li>
        <% if user_signed_in? %>
          <%= link_to(destroy_user_session_path, method: :delete) do %>
            Logout
          <% end %>
        <% else %>
          <a href="javascript:void(0);" data-toggle="modal" data-target="#login_popup">
            Login
          </a>
        <% end %> 
      </li>
    </ul>
    <p class="text-center">Copyright @2018 | Pig&Boar blog</p>
  </div>
  <div class="social" style="text-align:center;">
    <ul>
      <li><a href="javascript:window.open('https://www.facebook.com/kimdongjin2')"><i class="fa fa-lg fa-facebook"></i></a></li>
      <li><a href="javascript:window.open('https://twitter.com/inoshishi30')"><i class="fa fa-lg fa-twitter"></i></a></li>
      <li><a href="javascript:window.open('https://plus.google.com/109400383928994891321')"><i class="fa fa-lg fa-google-plus"></i></a></li>
      <li><a href="javascript:window.open('https://github.com/kimdj2')"><i class="fa fa-lg fa-github"></i></a></li>
      <li><a href="javascript:window.open('/feed.rss')"><i class="fa fa-lg fa-rss"></i></a></li>
    </ul>
  </div>
</footer>