    <div id="header">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark" >
          <div class="container" id="container-header">
            <%= link_to("/",class:"navbar-brand mb-0 h1") do %>
                Pig&Boar Blog
            <% end %>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav mr-auto mb-0">
                <li class="nav-item">
                  <a href="javascript:void(0);" class="nav-link" id="aboutBtn">About</a>
                </li>         
                <li class="nav-item">
                  <%= link_to("/boards", class: :menu, class:"nav-link") do %>Posts<% end %>
                </li>
                <li class="nav-item"><a href="#", class="nav-link">GuestBook</a></li>
              </ul>
              <ul class="navbar-nav" id="nav-search">
                <li class="nav-item">
                <%= form_tag("boards", :method => "get", class:"form-inline nav-right") do %>
                  <%= text_field_tag :search, params[:search], placeholder: "Search",class:"form-control mr-sm-2 " %>
                  <%= submit_tag "検索", :name => nil, class:"btn btn-primary" %>
                <% end %>
                </li>
              </ul>
            </div>
            </div>
        </nav>
        <div id="header_image">
          <div class="social">
            <ul>
              <li><a href="#"><i class="fa fa-lg fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-lg fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-lg fa-github"></i></a></li>
            </ul>
          </div>
        </div>
  </div>