    <div id="header">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="main_nav">
            <%= link_to("/",class:"navbar-brand") do %>
                Pig&Boar Blog
            <% end %>
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <%= link_to("/intro", class: :menu, class:"nav-link") do %>About<% end %>
              </li>         
              <li class="nav-item">
                <%= link_to("/boards", class: :menu, class:"nav-link") do %>Posts<% end %>
              </li>
              <li class="nav-item"><a href="#", class="nav-link">GuestBook</a></li>
            </ul>
            <ul class="navbar-nav">
              <li class="nav-item">
              <%= form_tag("boards", :method => "get", class:"form-inline nav-right") do %>
                <%= text_field_tag :search, params[:search], placeholder: "Search",class:"form-control mr-sm-2 " %>
                <%= submit_tag "検索", :name => nil, class:"btn btn-success" %>
              <% end %>
              </li>
            </ul>
        </nav>
        <div id="header_image">
          <div class="social">
            <ul>
              <li><a href="#"><i class="fa fa-lg fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-lg fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-lg fa-github"></i></a></li>
            </ul>
          </div>
          <%=image_tag("hello_170924.png", class:"rounded-circle", id:"header_image_image")%>
        </div>

    <div class="container container-large" style="padding:0">
      <%=link_to(image_tag("title.png", id:"main_title",),"/") %>
    </div>
  </div>