<!-- 認証用モーダルページ -->
<div class="modal fade login" id="login_popup">
    <div class="modal-dialog login animated">
	    <div class="modal-content">
	        <div class="modal-header">
                <h4 class="modal-title">Login with</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">  
                <div class="box">
                    <div class="content">
                        <div class="login-social">
                            <%= link_to '/users/auth/twitter', class:"circle twitter" do %>
                                <i class="fa fa-twitter fa-fw"></i>
                            <% end %>
                            <%= link_to '/users/auth/facebook', class:"circle facebook" do %>
                                <i class="fa fa-facebook fa-fw"></i>
                            <% end %>
                            <%= link_to '/users/auth/github', class:"circle github" do %>
                                <i class="fa fa-github fa-fw"></i>
                            <% end %>
                        </div>
                        <div class="division">
                            <div class="line l"></div>
                                <span>or</span>
                            <div class="line r"></div>
                        </div>
                        <div class="error" id = "login_error_message" style="color:red;"></div>
                        <br>
                        <div class="form loginBox">
                            <%= form_for(resource, :as => resource_name,:url => session_path(resource_name) ,:html => {:id => "sign_in_user"}, :format => :json, :remote => true,class:"form-horizontal" ) do |f| %>
                                <%= f.email_field :email, autofocus: true, autocomplete: "email",placeholder:"Enter Your Email..", class:"form-control" %>
                                <br>
                                <%= f.password_field :password, autocomplete: "off",placeholder:"Enter Your Password..",  class:"form-control" %>
                                <br>
                                <%= f.submit "Login", class:"btn btn-default btn-login" %>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>    
        </div>
    </div>
</div>
