<div id="main_container">
  <div id="main_image" class="text-white text-center">
    <div class="container" id="main_message">
          <br>
          <div class="row">
            <div class="col-xl-9 mx-auto">
              <h1 class="mb-5">Welcome to Pig&Boar Blog!</h1>
            </div>
            <div class="col-md-10 col-lg-8 col-xl-7 mx-auto"  id="main_massege_contents" >
              <%= form_tag("/boards", :method => "get", class:"form-inline nav-right") do %>
                <div class="form-row" style="width:100%;">
                  <div class="col-12 col-md-9 mb-2 mb-md-0" style="width:100%;">
                    <%= text_field_tag :search, params[:search], placeholder: "Search...",class:"form-control form-control-lg",style:"width:100%;" %>
                  </div>
                  <div class="col-12 col-md-3">
                    <%= submit_tag "検索", :name => nil, class:"btn btn-block btn-lg btn-primary" %>
                  </div>
                </div>
              <% end %>
              <br>
              <h4>Recent Posts</h4>
              <hr color="#ffffff">
              <% @boards.each do |board| %>
                  <div style="color:white">
                    <%= link_to(board_path(board.id)) do %>
                      <div class="main_recent_post article_content_main"><%= board.title %>&nbsp;</div>
                      <div class="main_recent_post_date article_content_main"><%= board.created_at.strftime('%Y-%m-%d') %></div>
                    <% end %>
                  </div>  
              <% end %>
            </div>
            <div class="col-xl-4 mx-auto">
              <div class="card">
                <div class="card-body"> 
                  <a class="twitter-timeline" href="https://twitter.com/inoshishi30?ref_src=twsrc%5Etfw">Tweets by inoshishi30</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>
              </div>
            </div>  
          </div>
          <br>
          <br>
        </div>
  </div>
</div>
