      <div class="col-sm-3">
      <h2 class="title-font">Categories</h2>
      <div class="card right_side">
      <div class="card-body">        
        <% @categories.arrange.map do |group, categories| %>        
          <dl>
           <dt>
              <%= link_to("/categories/"+group.id.to_s) do %>
                <%=group.category_name%>
              <% end %>
            </dt>
            <% if categories.length != 0 %>
                <% categories.map do |key,value| %>
                  <dd>  
                    <%= link_to("/categories/"+key.id.to_s) do %>
                      &nbsp;&nbsp;<i class="fa fa-comment"></i><%= key.category_name %>
                    <% end %>
                  </dd>
                <% end %>
            <% end %> 
          </dl>
        <% end %>
      </div>
      </div>
      <br>
      <h2 class="title-font">Tags</h2>
      <div class="card right_side">
      <div class="card-body">         
          <% @tags.each do |tag| %>
            <%= link_to(tag_path(tag.name)) do %>
                <button type="button" class="btn btn-dark btn-xs">
                  <%=tag.name%>&nbsp;&nbsp;<span class="badge badge-light" style="padding:2px;font-size:.675rem !important;"><%=tag.taggings_count%></span>
                </button>
            <% end %> 
          <%end%>
        </div>
      </div>
    </div>