  <aside class="col-md-4">
    <% if user_signed_in? %>
    <div class="widget search">
        <% if current_user.has_role?('superadmin') %>
          <%= link_to(new_board_path, 'data-no-turbolink' => true) do %>
            <button type="submit" id="new-post">ポスト作成</button>
          <% end %>
        <% end %> 
    </div>
    <% end %>
    <div class="widget search">
      <%= form_tag("/boards", :method => "get", role:"form") do %>
          <%= text_field_tag :search, params[:search], placeholder: "Search for...",class:"form-control search_box",autocomplete:"off" %>
          <button type="submit"><i class="fa fa-search"></i></button>
      <% end %>
    </div>
    <!-- Profile表示 -->
    <!--<div id="profile_carousel" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active" style="height:auto;">
          <div class="card">
            <div class="box">
              <div class="img">
                <%=image_tag("Kim_Dongjin.png", style:"min-height:auto;")%>
              </div>
              <h2>Kim Dongjin<br><span style="background:#007bff;">Web Programer</span></h2>
              <p>プログラミングを楽しく。</p>
              <span>
                <ul>
                  <li><a href="javascript:window.open('https://www.facebook.com/kimdongjin2')"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                  <li><a href="javascript:window.open('https://twitter.com/inoshishi30')"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                  <li><a href="javascript:window.open('https://plus.google.com/109400383928994891321')"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                  <li><a href="javascript:window.open('https://github.com/kimdj2')"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                </ul>
              </span>
            </div>
          </div>
        </div>
        <div class="carousel-item" style="height:auto;">
          <div class="card">
            <div class="box">
              <div class="img">
                <%=image_tag("Jang_Yumin.png", style:"min-height:auto;")%>
              </div>
              <h2>Jang Yumin<br><span>Web Programer</span></h2>
              <p>メンメン</p>
              <span>
                <ul>
                  <li><a href="javascript:window.open('https://www.facebook.com/kimdongjin2')"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                  <li><a href="javascript:window.open('https://twitter.com/inoshishi30')"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                  <li><a href="javascript:window.open('https://plus.google.com/109400383928994891321')"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                  <li><a href="javascript:window.open('https://github.com/kimdj2')"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                </ul>
              </span>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#profile_carousel" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#profile_carousel" data-slide="next">
          <span class="carousel-control-next-icon"></span>
        </a>
      </div>
    </div>
    <hr>
      <div class="widget popular_post">
        <h3>Popular Post</h3>
        <ul>
        <% @boards_likelist.each do |board| %>
          <li>
              <%= link_to(board_path(board.id)) do %>
              <div class="widget_img">
                <% if !get_content_img(board.contents).blank? %>
                  <img src="<%=get_content_img(board.contents) %>" alt="">
                <% else %>
                  <img src="<%= asset_path('default-image2.png')%>" alt="">
                <% end %>
              </div>
              <p><%= truncate(board.title, length: 20) %></p>
              <% end %>
          </li>
        <% end %>
        </ul>
      </div>
      <hr>-->
      <!-- タグリスト（カテゴリ）を表示する。 -->
      <div class="widget archieve">
          <h3>Categories</h3>
          <div class="row">
              <div class="col-sm-12">
                  <ul class="blog_archieve">
                    <% @tags.each do |tag| %>
                      <li>
                        <%= link_to(tag_path(tag.name)) do %>
                          <%=tag.name%><span class="pull-right">(<%=tag.taggings_count%>)</span>
                        <% end %> 
                      </li>
                    <%end%>
                  </ul>
              </div>
          </div>
      </div>
      <div class="widget archieve">
          <h3>Archive</h3>
          <div class="row">
              <div class="col-sm-12">
                  <ul class="blog_archieve">
                    <% @board_month.each do |board_month| %>
                      <li>
                        <%= link_to(created_path(board_month.month.strftime('%Y-%m'))) do %>
                          <%=board_month.month.strftime('%Y-%m')%><span class="pull-right">(<%=board_month.total_month%>)</span>
                        <% end %> 
                      </li>
                    <%end%>
                  </ul>
              </div>
          </div>
      </div>
      <hr>
      <div class="card">
        <div class="card-body"> 
          <a class="twitter-timeline" href="https://twitter.com/inoshishi30?ref_src=twsrc%5Etfw">Tweets by inoshishi30</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
      </div>
    </aside>