  <div class="col-md-3">
    <div id="profile_carousel" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active" style="height:auto;">
          <div class="card">
            <div class="box">
              <div class="img">
                <%=image_tag("Kim_Dongjin.png", style:"min-height:auto;")%>
              </div>
              <h2>Kim Dongjin<br><span style="background:#007bff;">Web Programer</span></h2>
              <p>プログラミングを楽しく。</p>
              <span>
                <ul>
                  <li><a href="javascript:window.open('https://www.facebook.com/kimdongjin2')"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                  <li><a href="javascript:window.open('https://twitter.com/inoshishi30')"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                  <li><a href="javascript:window.open('https://plus.google.com/109400383928994891321')"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                  <li><a href="javascript:window.open('https://github.com/kimdj2')"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                </ul>
              </span>
            </div>
          </div>
        </div>
        <div class="carousel-item" style="height:auto;">
          <div class="card">
            <div class="box">
              <div class="img">
                <%=image_tag("Jang_Yumin.png", style:"min-height:auto;")%>
              </div>
              <h2>Jang Yumin<br><span>Web Programer</span></h2>
              <p>メンメン</p>
              <span>
                <ul>
                  <li><a href="javascript:window.open('https://www.facebook.com/kimdongjin2')"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                  <li><a href="javascript:window.open('https://twitter.com/inoshishi30')"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                  <li><a href="javascript:window.open('https://plus.google.com/109400383928994891321')"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                  <li><a href="javascript:window.open('https://github.com/kimdj2')"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                </ul>
              </span>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#profile_carousel" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#profile_carousel" data-slide="next">
          <span class="carousel-control-next-icon"></span>
        </a>
      </div>
    </div>

      <hr>
      <h4>Resent Post</h4>
        <% @boards_resent.each do |board| %>
          <%= link_to(board_path(board.id)) do %>
            <p style="margin:0;"><i class="fa fa-angle-double-right"></i><%= truncate(board.title, length: 19) %></p>
          <% end %>
        <% end %>
      <hr>
      <h4>Category<h4>
      <div class="list-group article_content_main" >
        <%= link_to("/boards", class:"list-group-item list-group-item-action") do %> 
          全体を見る
        <% end %>
        <% @tags.each do |tag| %>
          <%= link_to(tag_path(tag.name), class:"list-group-item list-group-item-action") do %>
            <%=tag.name%><span class="badge badge-dark" style="float:right;"><%=tag.taggings_count%></span>
          <% end %> 
        <%end%>
      </div>
      <hr>
      <h4>Archive<h4>
      <div class="list-group article_content_main">
        <% @board_month.each do |board_month| %>
          <%= link_to(created_path(board_month.month.strftime('%Y-%m')), class:"list-group-item list-group-item-action") do %>
            <%=board_month.month.strftime('%Y-%m')%><span class="badge badge-dark" style="float:right;"><%=board_month.total_month%></span>
          <% end %> 
        <%end%>
      </div>
      <br>
      <div class="card">
        <div class="card-body"> 
          <a class="twitter-timeline" href="https://twitter.com/inoshishi30?ref_src=twsrc%5Etfw">Tweets by inoshishi30</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
      </div>
    </div>