<!-- Navigation -->
  <nav id="sidebar" class="sidebar-wrapper">
    <div class="sidebar-content">
      <div class="sidebar-brand">
        <a href="#"></a>
        <div id="close-sidebar">
          <i class="fa fa-times"></i>
        </div>
      </div>
      <div class="sidebar-search">
        <% if current_user.has_role?('superadmin') %>
          <%= link_to(new_board_path, 'data-no-turbolink' => true) do %>
            <button type="submit" id="new-post">ポスト作成</button>
          <% end %>
        <% end %> 
      </div>
      <!-- sidebar-header  -->
      <div class="sidebar-search">
        <div class="sidebar-content-title">
          <span>検索</span>
        </div>
        <div>
          <%= form_tag("/boards", :method => "get", role:"form") do %>
            <div class="input-group">
              <%= text_field_tag :search, params[:search], placeholder: "Search for...",class:"form-control search-menu",autocomplete:"off", 'aria-describedby'=> "search-button"%>              
              <div class="input-group-append">
                  <button type="submit" id="search-button" class="btn btn-outline-secondary"><i class="fa fa-search" aria-hidden="true"></i></button>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="sidebar-search">
        <div class="sidebar-content-title">
          <span>ソーシャル</span>
        </div>
        <div class="social" >
            <ul style="text-align:center;">
              <li><a href="javascript:window.open('https://www.facebook.com/kimdongjin2')"><i class="fa fa-facebook"></i></a></li>
              <li><a href="javascript:window.open('https://twitter.com/inoshishi30')"><i class="fa fa-twitter"></i></a></li>
              <li><a href="javascript:window.open('https://plus.google.com/109400383928994891321')"><i class="fa fa-google-plus"></i></a></li>
              <li><a href="javascript:window.open('https://github.com/kimdj2')"><i class="fa fa-github"></i></a></li>
              <li><a href="javascript:window.open('/feed.rss')"><i class="fa fa-rss"></i></a></li>
            </ul>
        </div>
      </div>
      <!-- sidebar-search  -->
      <div class="sidebar-search">
        <div class="sidebar-content-title">
          <span>カテゴリー</span>
        </div>
        <div>
          <% @tags.each do |tag| %>
            <%= link_to(tag_path(tag.name), class:"sidebar-category") do %>
             <span class="sidebar-category-name"><%=tag.name%></span>
             <span class="sidebar-category-count">(<%=tag.taggings_count%>)</span>
            <% end %> 
          <%end%>
        </div>
      </div>
      <div class="sidebar-search">
        <div class="sidebar-content-title">
          <span>アーカイブ</span>
        </div>
        <div>
          <% @board_month.each do |board_month| %>
              <%= link_to(created_path(board_month.month.strftime('%Y-%m')), class:"sidebar-category") do %>
                <span class="sidebar-category-name"><%=board_month.month.strftime('%Y-%m')%></span>
                <span class="sidebar-category-count">(<%=board_month.total_month%>)</span>
              <% end %> 
          <%end%>
        </div>
      </div>
    </div>
  </nav>
