<!-- Postリスト表示 -->
<% boards.each do |board| %>
  <div class="blog-item">
    <div class="blog-imgdiv">
      <!-- 内容にイメージが含まれている場合 -->
      <% if !get_content_img(board.contents).blank? %>
        <!-- イメージを表示する。 -->
        <%= link_to(board_path(board.id)) do %>
          <img class="img-responsive img-blog" src="<%=get_content_img(board.contents) %>" width="100%" alt="" />
        <% end %>
      <!-- 内容にイメージが含まれていない場合 -->
      <% else %>
        <!-- 基本イメージを表示する。 -->
        <%= link_to(board_path(board.id)) do %>
          <img class="img-responsive img-blog" src="<%= asset_path('default-image2.png')%>" width="100%" alt="" />
        <% end %>
      <% end %>
    </div>  
    <div class="blog-content">
      <% board.tag_list.map do |tag| %>  
        <%= link_to(tag_path(tag),class:"blog_cat") do %>
          #<%=tag%>&nbsp;
        <% end %>
      <% end %>
      <h2><%= link_to(board_path(board.id), data: {"turbolinks" => false}) do %><%= truncate(board.title, length: 20) %><% end %></h2>
      <div class="post-meta">
        <p>By <%= board.author %></p>
        <p><i class="fa fa-clock-o"></i> <%= board.created_at.strftime('%d %b %Y') %></p>
        <p><i class="fa fa-comment"></i> <%= get_board_comment_count(board)%></p>
        <p><i class="fa fa-thumbs-up"></i> <%= get_board_like_count(board)%></p>
        <p>
            <%= social_share_button_tag(board.title, :url => board_url(board), desc: board.title, style:"text-align:center;")%>
        </p>
      </div>
      <h3><%= truncate(Sanitize.clean(board.contents), length: 50) %></h3>
      <%= link_to(board_path(board.id), class:"readmore") do %>
        Read More<i class="fa fa-long-arrow-right"></i>
      <% end %>
    </div>
    
  </div>
<% end %>
