<!-- Postリスト表示 -->
<div class="row">
  <% cnt = 1 %>
  <% boards.each do |board| %>
    <% if cnt== 1 && types == 'like' %>
      <div class="col-md-8 py-2" style="margin-bottom:10px;">
    <% elsif types == 'like' %>
      <div class="col-md-4 py-2" style="margin-bottom:10px;">
    <% else %>  
      <div class="col-md-12 py-2" style="margin-bottom:10px;">
    <% end %>
    <% if types == 'like' %>                             
    <div class="blog-card-main-like">
    <% else %>
      <% if cnt % 2 == 0 %>
      <div class="blog-card alt">
      <% else %>
      <div class="blog-card">
      <% end %>
    <% end %>  
      <% cnt+=1 %>
      <div class="meta">
        <!-- 内容にイメージが含まれている場合 -->
        <% if !get_content_img(board.contents).blank? %>
          <!-- イメージを表示する。 -->
          <div class="photo" style="background-image: url(<%=get_content_img(board.contents) %>)"></div>
        <!-- 内容にイメージが含まれていない場合 -->
        <% else %>
          <!-- 基本イメージを表示する。 -->
          <div class="photo" style="background-image: url(<%= asset_path('default-image2.png')%>)"></div>
        <% end %>
        <ul class="details">
          <!-- 作成者 -->
          <li class="author"><a href="#"><%= board.author %></a></li>
          <!-- 作成年月日 -->
          <li class="date"><%= "Post on "+ board.created_at.strftime('%Y-%m-%d') %></li>
          <li class="tags">
            <ul>
            <!-- タグリスト表示 -->
              <% board.tag_list.map do |tag| %>  
                <li>
                  <%= link_to(tag_path(tag)) do %>
                    <span class="wf-sawarabigothic maintag">#<%=tag%></span>
                  <% end %>
                </li>
              <% end %>
            </ul>
          </li>
        </ul>
      </div>
      <div class="description">
      <!-- タイトルを表示する。 -->
        <h1><%= truncate(board.title, length: 20) %></h1>
        <!-- 内容を表示する。 -->
        <% if types != 'like' %>                             
        <p class="read-contents"> <%= truncate(Sanitize.clean(board.contents), length: 50) %></p>
        <% else %>
        <p></p>
        <% end %>
        <!-- 照会数、コメント数、いいね数を表示する。 -->
        <p class="read-more">
          <span style="color:#263238">
            <i class="fa fa-eye"></i>&nbsp;<%= get_board_view_count(board)%>
            <i class="fa fa-comments"></i><%= get_board_comment_count(board)%>
            <i class="fa fa-thumbs-up"></i>&nbsp;<%= get_board_like_count(board)%>
          </span>
          <!-- 詳細ページ遷移ボタン -->
          <%= link_to(board_path(board.id)) do %>
          Read More
          <% end %>
        </p>
      </div>
      </div>
    </div>
  <% end %>
</div>
