<div id="main_container ">
  <div id="main_image_taglist" class="text-white text-center">
    <div class="container container-large" id="main_message_taglist">
        <div class='mainContentsTitle'>
            <h3 class="tde">         
                <span>Tag</span>         
            </h3>
        </div>
          <div class="row">
            <div class="col-xl-9 mx-auto">
                <% @tags.each do |tag| %>
                    <%= link_to(tag_path(tag.name)) do %>
                        <% if tag.taggings_count > 20 %>
                            <span class="wf-sawarabigothic mainTagName" style="font-size:3.5rem;color:white;"><%=tag%></span>
                        <% elsif tag.taggings_count > 10 %>
                            <span class="wf-sawarabigothic mainTagName" style="font-size:2.5rem;color:white;"><%=tag%></span>
                        <% elsif tag.taggings_count > 5 %>
                            <span class="wf-sawarabigothic mainTagName" style="font-size:1.5rem;color:white;"><%=tag%></span>
                        <% else %>
                            <span class="wf-sawarabigothic mainTagName" style="font-size:1rem;color:white;"><%=tag%></span>
                        <% end %>
                    <% end %>&nbsp;                
                <%end%>
            </div>        
          </div>
          <br>
          <br>
        </div>
  </div>
</div>