<!DOCTYPE html>
<html>
  <head>
    <title>Pigboar</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body data-controller="<%= controller_name %>" data-action="<%= action_name %>">
    <!--<div id = "header" class="well" style="background-color:gray;position:fixed;width:100%;height:60px;z-index:10;padding:2px;">
      <%= image_tag "menu_icon.png", id:"menu_slide" %>
    </div>
    <br><br>-->
    <div class="well" id = "title" style="background-color:#ffffff;">
      <div class="container" style="background-color:#ffffff;">
        <%=link_to(image_tag("title.png", id:"main_title"),"/") %>
        <nav class="navbar navbar-inverse">
          <div class="container-fluid">
            <div class="navbar-header">
              <%= link_to("/",class:"navbar-brand") do %>
                Pig&Boar Blog
              <% end %>
            </div>
            <ul class="nav navbar-nav">
              <li>
                <%= link_to("/intro", id: :link, class: :menu) do %>About<% end %>
              </li>         
              <li>
                <%= link_to("/boards", id: :link, class: :menu) do %>Posts<% end %>
              </li>
              <li><a href="#">GuestBook</a></li>
            </ul>
            <%= form_tag("boards", :method => "get", class:"navbar-form navbar-right") do %>
              <%= text_field_tag :search, params[:search], placeholder: "Search",class:"form-control" %>
              <%= submit_tag "検索", :name => nil, class:"btn btn-default" %>
            <% end %>
          </div>
        </nav>    
      </div>
    </div>
    <%= tinymce_assets %>
    <div class="container" style="background-color:#ffffff;">
      <div id="main">
        <%= yield %>
      </div>
    </div>
    <p id="page-top"><a href="javascript:;">PAGE TOP</a></p>
  </body>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet"/>
<footer id = "footer">
  <div class="container">
    <center><p>© Pig&Boar All Rights Reserved.</p>
      <div class="social">
        <ul>
          <li><a href="#"><i class="fa fa-lg fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-lg fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-lg fa-google-plus"></i></a></li>
          <li><a href="#"><i class="fa fa-lg fa-github"></i></a></li>
          <li><a href="#"><i class="fa fa-lg fa-rss"></i></a></li>
        </ul>
        <%= link_to "ログイン", "/users/sign_in", method: :get %>
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
      </div>
    </center>
      <!--<% if user_signed_in? %>
        <p></p>
      <% else %>
        <p><%= link_to "ログイン", "/users/sign_in", method: :get %></p>
      <% end %>  
      <p><%= link_to "カテゴリー", "/categories", method: :get %></p>
      <p><%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path %></p>
      <p><%= link_to "Sign in with twitter", user_twitter_omniauth_authorize_path %></p>-->
  </div>    
</footer>
</html>
