<!DOCTYPE html>
<html>
  <head>
    <title>Pigboar</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="E_inh42Pepb-wvs9s5CI8UU-i6qSyzs_799_tRsdsCs" />
  </head>
  <body data-controller="<%= controller_name %>" data-action="<%= action_name %>">
    <div id="toggleside" class="page-wrapper chiller-theme">
      <!-- ナビゲーション -->
      <%= render "layouts/navigation" %>
      <main class="page-content">
        
        <!-- ヘッダ -->
        <%= render "layouts/main_header" %>
        <!-- メイン表示 -->
        <section id="blog">
          <div class="blog container">
            <%= yield %>
          </div>
        </section>
        <!-- ログインフォーム -->
        <%= render "layouts/login" %>
        <!-- ajaxローディング -->
        <%= render "layouts/ajaxloading" %>
              <!-- フッダ -->
        <%= render "layouts/footer" %>
      </main>
    </div>
  </body>
  <script id="dsq-count-scr" src="//pigboars.disqus.com/count.js" async></script>
  <script>
    hljs.initHighlightingOnLoad();
  </script>
</html>
