<!DOCTYPE html>
<html>
  <head>
    <title>Pigboar</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body data-controller="<%= controller_name %>" data-action="<%= action_name %>">
    <%= render "layouts/header" %>
    <% if controller_name == 'main' %>
      <%= render "layouts/main_header" %>
    <% else %>
      <%= render "layouts/contents_header" %>
    <% end %>
      <div id="main">
        <%= breadcrumbs style: :bootstrap, separator: "&nbsp;&rsaquo;&nbsp;"  %>
        <%= yield %>
      </div>
    <br>
    <%= render "layouts/about" %>
    <div id="fb-root"></div>
    <%= breadcrumbs style: :bootstrap, separator: "&nbsp;&rsaquo;&nbsp;"  %>
  </body>
  <%= render "layouts/footer" %>
</html>
